@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-50 text-neutral-900;
}

button {
  @apply transition-colors duration-200;
}

input,
textarea,
select {
  @apply transition-colors duration-200;
}
